<script>
    $( "#id_client" ).change(function() {
        var url = "/createjobcode/";  // get the url of the `load_cities` view
        var ClientID = $(this).find(":selected").val();  // get the selected Region ID from the HTML input
        console.log(url)
        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'client': ClientID       // add the Region id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("input[name=code]").replaceWith(data);  // replace the contents of the city input with the data that came from the server
          },
    
        });
      });
  
</script>

<select class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" name="client" id="id_client"> 
    <option value="">---------</option>
    {% for client in Clients %}
    <option value="{{ client.pk }}">{{ client.name }}</option>
    {% endfor %}   
</select>