{% extends "base.html" %}
{% block content%}
      {% comment %} <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
          <p class="mt-1 text-sm text-gray-600">
            Use a permanent address where you can receive mail.
          </p>
        </div>
      </div> {% endcomment %}
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="#" method="GET">
          <div class="border-2  shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-gray-300 sm:p-6">
              <div class="grid grid-cols-6 gap-6 ">
                <p><label>ID:</label>{{ object.id }}</p>
                <p><label>Name:</label>{{ object.name }}</p>
                <p><label>Code:</label>{{ object.code }}</p>
                <p><label>Client ID:</label>{{ object.clientID }}</p>
                <p><label>Status:</label>{{ object.status }}</p>
                  
              <button type="submit" formaction="/projects/" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Projects List
              </button>
            </div>
          </div>
        </div>
        </form> 
      </div>


{% endblock content %}